{% load static %}
<section class="contact_section layout_padding">
    <div class="container ">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
            <img src='{% static "images/plug.png" %}' alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="">
                    <div>
                        <label>
                            <input type="text" placeholder="Name"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="email" placeholder="Email"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="text" placeholder="Phone Number"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="text" class="message-box" placeholder="Message"/>
                        </label>
                    </div>
                    <div class="d-flex ">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="map_container">
{#                    TODO: Google maps address#}
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                width="600" height="300" style="border:0; width: 100%; height:100%"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
