{% load static %}
<!-- service section -->

<section class="service_section layout_padding">

    <div class="container">
        <div class="heading_container">
            <h2>
                Our Services

            </h2>
            <img src='{% static "images/plug.png" %}' alt="">
        </div>

        <div class="service_container">
{#             TODO: Idea: Maybe change categories or auto-add categories with paging, add popular categories#}
{#             TODO: Idea: Maybe add sub-categories#}
            {% for category in category_list %}
                    <div class="box">
{#                      TODO: DEL IF WORKS#}
                        <a href="{% url 'service category' %}?category={{ category.pk }}">
{#                        <a href="{% url 'service category' %}">#}
                            <div class="img-box">
                                <img src='{% static category.picture %}' class="img1" alt="">
                            </div>
                        </a>
                        <div class="detail-box">
{#                          TODO: DEL IF WORKS#}
                            <a href="{% url 'service category' %}?category={{ category.pk }}">
{#                            <a href="{% url 'service category' %}">#}
                                <h5>
                                    {{ category.name }}
                                </h5>
                            </a>
                            <p>
                                {{ category.description }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% block service_read_more_button %}
        {% endblock %}
    </div>
</section>
<!-- end service section -->
