{% extends 'admin/base.html' %}

{% block content %}
  <div class="user-details">
    <h1>{{ user.username }}'s Profile</h1>
    <div class="user-info">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>First Name:</strong> {{ user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ user.last_name }}</p>
      <p><strong>Profile Picture:</strong></p>
      <img src="{{ user.profile_picture }}" alt="" class="profile-picture">
    </div>
    <a href="{% url 'admin:accounts_appuser_change' user.id %}" class="button">Edit Profile</a>
  </div>
{% endblock %}



