{#{% extends 'base/base.html' %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#    <section class="provider-services-section">#}
{#        <div class="container">#}
{#            <div class="heading_container">#}
{#                <h2>#}
{#                    Services offered by {{ provider.name }}#}
{#                </h2>#}
{#            </div>#}
{#            <div class="categories-list">#}
{#                <ul>#}
{#                    {% for cat in category %}#}
{#                        <li>#}
{#                            <span class="category-name">{{ cat.name }}</span>#}
{#                            <ul class="service-list">#}
{#                                {% for service in cat.services.all %}#}
{#                                    <li>{{ service.name }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#{% endblock %}#}

{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="provider-services-section">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Services offered by {{ provider.name }}
                </h2>
            </div>
            <div class="categories-list">
                <ul>
                    {% for cat in category %}
                        <li>
                            <a href="{% url 'service category' %}?category={{ cat.pk }}" class="category-name">{{ cat.name }}</a>
                            <ul class="service-list">
                                {% for service in cat.services.all %}
                                    <li><a href="{% url 'service_details' service.pk %}">{{ service.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="add-service-button">
                <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
            </div>
        </div>
    </section>
{% endblock %}
