{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- Service details section -->
    <section class="service-details layout_padding2-top layout_padding2-bottom about_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="service-details-info">

                        <h3>{{ object.name }}</h3>

                        <div class="img-container">
                            <div class="img-box">
                                <a href="{{ object.picture }}" target="_blank">
                                    <img src="{{ object.picture }}" alt="Service Image" style="max-width: 100%; height: auto;">
                                </a>
                            </div>
                        </div>

                        <p>{{ object.short_description }}</p>

                        <p>
                            <strong>Category:</strong>
                            <a href="{% url 'service category' %}?category={{ object.category.pk }}">
                                {{ object.category.name }}
                            </a>
                        </p>
                        <p>
                            <strong>Service provider:</strong>
                            <a href="{% url 'provider_details' slug=provider.slug %}">
                                {{ provider.name }}
                            </a>
                        </p>
                        <div>
                            {#                        TODO: Edit service details & add description#}
                            <strong>Additional Description:</strong>
                            <ul>
                                {% for description in additional_descriptions %}
                                    <li>
                                        {{ description }}
                                    </li>
                                {% empty %}
                                    <li>No Additional Description.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% if is_owner %}
                        <div class="add-service-button">
                            <a href="{% url 'edit_service' pk=object.pk %}" class="btn btn-primary">Edit Service</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service details section -->
{% endblock %}
