{% extends 'services/base_service_list.html' %}

{% block title %}
    <div class="heading_container" style="display: flex; flex-direction: column; align-items: flex-start;">
        <div>
            <h3>
                Services offered by:
            </h3>
        </div>
        <div>
            <h2>
                {{ provider.name }}
            </h2>
        </div>

    </div>
{% endblock %}

{% block add_service_button %}
    <div class="add-service-button">
        <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
    </div>
{% endblock %}
